
.dataTableCombine {
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0.25rem;
}


#iconContainer {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
}

.dataContainer {
  padding: 1rem;
}

#submitButton {
  margin-top: 1rem;
}
