
.App-header {
  text-align: center;
  background-color: #405abb;
  height: 150px;
  padding: 50px;
  color: white;
  font-size: 150%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.mainForm  {
  margin-top: 30px;
}