
.App-header {
  text-align: center;
  background-color: #405abb;
  height: 150px;
  padding: 40px;
  color: white;
  font-size: 150%;
}

.App-title {
  font-size: 2em;
  font-family: 'raleway-bold', Helvetica, Verdana , sans-serif;
  /* text-transform: uppercase; */
}

.mainForm  {
  margin-top: 30px;
  font-family: 'OpenSans-Regular' , Helvetica, Verdana , sans-serif;
}