
.App-header {
  text-align: center;
  background-color: #556ec9;
  height: 155px;
  padding: 1.5rem 0 2rem 0;
  color: white;
  font-size: 150%;
  font-family: 'raleway-bold', Helvetica, Verdana , sans-serif;
}

.App-header h1 {
  padding-bottom: 5px;
}
.nav-link {
  color: white;
  margin: 0 10px 0 10px;
  /* text-transform: uppercase; */
}

.nav-link:hover {
  color: white;
  /* border-color: #6c7dbd;  */
}

.App-title {
  font-size: 2em;
  font-family: 'raleway-bold', Helvetica, Verdana , sans-serif;
}